<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">



<div class="wrapper fadeInDown" >
    <div id="formContent" style="width:90000px;">
        {{username}}
<form action="{{ url_for('deleteaccount') }}" method="post">
    <div class="form-group" >
      <h4>Delete Account</h4>
      <h5>Are you sure you want to delete account?</h5>
    </div>
    <input type="submit" value="Delete"></button>
</form>
        {{msg}}
       <a type="button" class="btn btn-primary" href="{{ url_for('login')}}">Return to Login</button></a>
  </div>
  </div>


  