<!DOCTYPE html><html lang="en"><head> <meta charset="utf-8" />
  <title>Data Visualization Demo in Flask, Leaflet and ChartJS</title>
 <!-- import plugin script --> 
     <link href="../static/css/bootstrap.min.css" rel="stylesheet">
     <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
     <script src="../static/js/jquery-1.11.2.js"></script>
     <script src="../static/js/Chart.min.js"></script>
     
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="/static/js/hi.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
    
  </head>
  <body> 

  
    
    <div class="container-fluid" style="margin-right: 500px;">
      <div class="row content" >
        <br>
       <div class="col-sm-3" >
              <div class="well">
                <h3>Total deaths to date(2022)</h3>
              <p style="font-size: x-large; color:rgb(248, 115, 6);">{{totaldeaths[0]}}</p>

            </div>
            <div class="well">
              <h3> Total number of people vaccinated in SEA countries to date</h3><br>

              <span class="count" style="color:rgb(55, 202, 21); font-size: x-large;">{{vaccinatedSEA[0]}}</span><br><br>

          </div>
          <div class="well">
            <h3> Total confirmed cases</h3><br>
            
            <span class="count" style="color:rgb(154, 33, 33); font-size: x-large;">{{confirmedcases[0]}}</span><br><br>

        </div>
            </div>
            
        <div class="col-sm-9" >
          <div class="well"style="width: 900px;">
            <h2>Total confirmed cases to date for each country</h2> Hi Welcome ,{{username}}<br><a href="{{ url_for('updatepassword')}}">Update Password</a>
            <a href="{{ url_for('deleteaccount')}}">Delete Account</a>
            <div class="container" style="width:800px;">
    
      <canvas id="myChart" width="500" height="200"></canvas>
      <h2>Total deaths to Total cases for each country</h2>
      <canvas id="chart" width="500" height="200"></canvas>
      
<div class="pagination">
  
  <a href="{{ url_for('index')}}">1</a>
  <a href="{{ url_for('secondpage')}}">2</a>
  <a href="{{ url_for('thirdpage')}}">3</a>
  <a href="{{ url_for('fourthpage')}}">4</a>
  <a href="{{ url_for('fifthpage')}}">5</a>
  <a href="{{ url_for('secondpage')}}">&raquo;</a>

  
 
</div>
    
    
</div>

      </div>
          </div>
</div>




          
        

    <script>
//this chart is total confirmed cases to date
    new Chart("myChart", {
      type: "bar",
      data: {
        labels:  [{% for item in labels %}
    "{{item[1]}}",
    {% endfor %}],

        datasets: [{
          label: 'total covid cases',
          backgroundColor:"rgba(206, 70, 90, 1)",
             fillColor: "rgba(206, 70, 90, 1)",
             strokeColor: "rgba(220,220,220,0.8)",
              pointColor: "rgba(220,220,220,1)",
          fill: false,
          data: [{% for item in values %}
                       {{item}},
                     {% endfor %}]
        }]
      }      
});





//this chart is total cases to total deaths in the country
let data = [{
  label: 'Total Cases',
  backgroundColor: '#3366ff',
  data:  [{% for item in labelstotaldeathandtotalcase %}
    "{{item[1]}}",
    {% endfor %}],
},  

{
  label: 'Total Deaths',
  backgroundColor: '#92d400',
  data:  [{% for item in labelstotaldeathandtotalcase %}
    "{{item[2]}}",
    {% endfor %}],
}


];

let myChart = new Chart(document.getElementById('chart'), {
  type: 'horizontalBar',
  data: {
    labels:  [{% for item in labelstotaldeathandtotalcase %}
    "{{item[0]}}",
    {% endfor %}],
    datasets: data
  },
  options: {
    scales: {
      xAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    }
  }
});

//function for onload counter based on <p> tag
$(function() {
    function count($this){
        var current = parseInt($this.html());
        $this.html(++current);
        if(current !== $this.data('count')){
            setTimeout(function(){count($this)});
        }
    }        
  $("p").each(function() {
      $(this).data('count', parseInt($(this).html(), 10));
      $(this).html('357780');
      count($(this));
  });
});

//function for onload counter
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});


















/*Area CHART
var ctx3 = document.getElementById('Ac').getContext("2d");
    var data3 = {
    labels:  [{% for item in dailyconfirmcase %}
    "{{item[0]}}",
    {% endfor %}],

    datasets: [
        {
            label: "My First dataset",
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
        }
    ]
};


  
var options = {
        responsive: true,
        title: {
            display: true,
            position: "top",
            text: 'anything',
            fontSize: 18,
            fontColor: "#111"
        },
        tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItems, data) { 
                       var multistringText = [tooltipItems.yLabel];
                       {% for item in dailyconfirmcase %}
                           multistringText.push("{{item[1]}}");
                           {% endfor %}
                           multistringText.push(tooltipItems.index+1);
                           multistringText.push('One more Item');
                        return multistringText;
                    }
                }
            },
        legend: {
            display: true,
            position: "bottom",
            labels: {
                fontColor: "#333",
                fontSize: 16
            }
        },
        scales:{
            yAxes:[{
                ticks:{
                    min:0

                }
            }]

        }
    };
var myLineChart = new Chart(ctx3, {
    type: 'line',
    data: data3,
    options: options
});
*/



</script>

    

 </body>
 </html>