<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    
    <!-- Login Form -->
    <form action=  "{{ url_for('login') }}" method="post">
      <h2>Login</h2>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Email" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <input type="submit" value="Log In">
     <div>{{msg}}</div>
     
    </form>
    <a href="{{ url_for('createaccount')}}">Create Account</a>
    <!-- Remind Passowrd -->
    

  </div>
</div>