<!DOCTYPE html><html lang="en"><head> <meta charset="utf-8" />
    <title>Data Visualization Demo in Flask, Leaflet and ChartJS</title>
   <!-- import plugin script --> 
       <link href="../static/css/bootstrap.min.css" rel="stylesheet">
       <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
       <script src="../static/js/jquery-1.11.2.js"></script>
       <script src="../static/js/Chart.min.js"></script>
       
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
       <script src="/static/js/hi.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
      
    </head>
    <body> 
  
     
      
      <div class="container-fluid" style="margin-right: 500px;">
        <div class="row content">
         
          <br>
         <div class="col-sm-3">
            <div class="well">
                <h3>Total deaths to date(2022)</h3>
              <p style="font-size: x-large; color:rgb(248, 115, 6);">{{totaldeaths[0]}}</p>

            </div>
            <div class="well">
              <h3> Total number of people vaccinated in SEA countries to date</h3><br>

              <span class="count" style="color:rgb(55, 202, 21); font-size: x-large;">{{vaccinatedSEA[0]}}</span><br><br>

          </div>
          <div class="well">
            <h3> Total confirmed cases</h3><br>

            <span class="count" style="color:rgb(154, 33, 33); font-size: x-large;">{{confirmedcases[0]}}</span><br><br>

        </div>
            </div>
              
          <div class="col-sm-9">
            <div class="well" style="width:900px;">
              
      <div class="container" style="width:800px;">
      
        
        <h2>Cases and Death within population to date(19/09/2022)</h2>
        <canvas id="stackedchart" style="width:100%;max-width:600px"></canvas>
        <h2>Total number of people vaccinated in each SEA country to date</h2>
        <canvas id="vaccine" style="width:100%;max-width:600px"></canvas>  <div style="margin-left: 600px; margin-bottom:px;">
            
  </div>
      
        </div> 
        <div class="pagination">
          <a href="{{ url_for('index')}}">1</a>
          <a href="{{ url_for('secondpage')}}">2</a>
          <a href="{{ url_for('thirdpage')}}">3</a>
          <a href="{{ url_for('fourthpage')}}">4</a>
          <a href="{{ url_for('fifthpage')}}">5</a>
          <a href="{{ url_for('thirdpage')}}">&raquo;</a>
        </div>
            
            </div>
            
  </div>
  
  
  
  
            
          
  
      <script>
 
  
  
  // Percentage of cases and deaths within the population to date CHART
  window.randomScalingFactor = function() {
          return Math.round(Samples.utils.rand(0, 1000));
      };
  
  var barChartData = {
    labels:  [{% for item in casesanddeathpopulation %}
      "{{item[0]}}",
      {% endfor %}],
    datasets: [
      {label: 'Total Death',
      backgroundColor: gradient,
      data: [{% for item in casesanddeathpopulation %}
      "{{item[1]}}",
      {% endfor %}]}, 
       {label: 'Total Cases',
      backgroundColor: '#E2E2F7',
      data:  [{% for item in casesanddeathpopulation %}
      "{{item[2]}}",
      {% endfor %}]}, 
      {label: 'Population',
      backgroundColor: '#09A0CE',
      data:  [{% for item in casesanddeathpopulation %}
      "{{item[3]}}",
      {% endfor %}]},
  
     
    ]
  
  };
  
  var ctx = document.getElementById('stackedchart').getContext('2d'),
      gradient = ctx.createLinearGradient(0, 0, 0, 450);
  
  gradient.addColorStop(0, 'rgba(255, 0,0, 0.5)');
  gradient.addColorStop(0.5, 'rgba(255, 0,0, 0.25)');
  gradient.addColorStop(1, 'rgba(255, 0,0, 0)');
  
  
  
  
  window.myBar = new Chart(ctx, {
    type: 'bar',
    data: barChartData,
    options: {
      
      tooltips: {
        mode: 'index',
        intersect: false
      },
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
          display:true,
        },
          gridLines: {
            display: false,
            drawBorder: false,
          }
        }],
        yAxes: [{
          stacked: true,
          gridLines: {
            drawBorder: false,
            drawTicks: false,
            color: '#E2E2F7',
            borderDash: [3,3],
            borderDashOffset: 0.5,
            lineWidth: 3,
            cornerRadius: 2,
          }
        },
        ]
      }
    }
  });
  
  
//total number of vaccination in SEA
new Chart("vaccine", {
      type: "bar",
      data: {
        labels:  [{% for item in totalvaccine %}
    "{{item[0]}}",
    {% endfor %}],

        datasets: [{
          label: 'Total number of people vaccinated ',
          backgroundColor:"rgba(206, 70, 90, 1)",
             fillColor: "rgba(206, 70, 90, 1)",
             strokeColor: "rgba(220,220,220,0.8)",
              pointColor: "rgba(220,220,220,1)",
          fill: false,
          data: [{% for item in totalvaccine %}
                       {{item[1]}},
                     {% endfor %}]
        }]
      }      
});

  
$(function() {
    function count($this){
        var current = parseInt($this.html());
        $this.html(++current);
        if(current !== $this.data('count')){
            setTimeout(function(){count($this)});
        }
    }        
  $("p").each(function() {
      $(this).data('count', parseInt($(this).html(), 10));
      $(this).html('357780');
      count($(this));
  });
});

//function for onload counter
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
  
  </script>
  
      
  
   </body>
   </html>