<!DOCTYPE html><html lang="en"><head> <meta charset="utf-8" />
  <title>Data Visualization Demo in Flask, Leaflet and ChartJS</title>
 <!-- import plugin script --> 
     <link href="../static/css/bootstrap.min.css" rel="stylesheet">
     <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
     <script src="../static/js/jquery-1.11.2.js"></script>
     <script src="../static/js/Chart.min.js"></script>
     
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" type="application/javascript"></script>
    
  </head>
  <body> 
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
          <div class="container-fluid" style="margin-right: 500px;">

            <div class="col-sm-9">
              <div class="well" style="width: 1800px;">
                <h2>Glassdoor Reviews</h2>
                <h3 style="max-height: 500px; max-width: 1800px;">Reviews Collated Among Industries In Percentage</h3>
                <canvas id="myChart3" style="max-height: 500px; max-width: 1600px;"></canvas> 
                <br>
                <div class="row">
                </div>
              </div>
            </div>

            <div class="col-sm-9">
              <div class="well" style="width: 900px;">
                <h2>Energy Sector Analysis</h2><br>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Total Reviews</h3>
                    <p style="font-size: x-large; color:rgb(54, 6, 248);"data-start="43000">{{ energy_data["total_reviews"] }}</p>
                  </div>
                  <div class="col-sm-6">
                    <h3>Average Review Rating</h3>
                    <span style="font-size: x-large; color:rgb(54, 6, 248);"data-start="1">{{energy_data["median_reviews"] }}</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-sm-9">
              <div class="well" style="width: 900px;">
                <h2>Total Star Reviews for Energy Sector</h2><br>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>1 star Reviews</h3>
                    <p style="font-size: x-large; color:rgb(230, 31, 31);"data-start="2600">{{energy_data["onestar_reviews"] }}</p>
                    <h3>2 star reviews</h3>
                    <p style="font-size: x-large; color:rgb(228, 44, 44);"data-start="3300">{{energy_data["twostar_reviews"]}}</p>
                    <h3>3 star Reviews</h3>
                    <p style="font-size: x-large; color:rgb(54, 6, 248);"data-start="9000">{{energy_data["threestar_reviews"]}}</p>
                    <h3>4 star reviews</h3>
                    <p style="font-size: x-large; color:rgb(23, 166, 47);"data-start="14800">{{energy_data["fourstar_reviews"]}}</p>
                    <h3>5 star reviews</h3>
                    <p style="font-size: x-large; color:rgb(42, 174, 81);"data-start="12700">{{energy_data["fivestar_reviews"]}}</p>
                  </div>
                  <div class="col-sm-6">
                    One Star - Five Star Reviews in percentage
                    <canvas id="myChart"></canvas>
                    <div style="margin-top: 90px;">
                    <a href="{{ url_for('energypage')}}">View Companies</a>
                  </div>
                  </div>
                </div>
              </div>
            </div>

           
            <div class="col-sm-9" style=" margin-left: 908px;margin-top: -849px;">
              <div class="well" style="width: 900px;">
                <h2>Airline Sector Analysis</h2><br>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Total Reviews</h3>
                    <p style="font-size: x-large; color:rgb(54, 6, 248);"data-start="22500">{{airline_data["total_reviews"]}}</p>
                  </div>
                  <div class="col-sm-6">
                    <h3>Average Review Rating</h3>
                    <span style="font-size: x-large; color:rgb(54, 6, 248);"data-start="1">{{airline_data["median_reviews"] }}</span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-sm-9" style=" margin-left: 908px;margin-top: -605px;">
              <div class="well" style="width: 900px;">
                <h2>Total Star Reviews for Airline Sector</h2><br>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>1 star Reviews</h3>
                    <p style="font-size: x-large; color:rgb(230, 31, 31);"data-start="1300">{{airline_data["onestar_reviews"]}}</p>
                    <h3>2 star reviews</h3>
                    <p style="font-size: x-large; color:rgb(228, 44, 44);"data-start="1500">{{airline_data["twostar_reviews"]}}</p>
                    <h3>3 star Reviews</h3>
                    <p style="font-size: x-large; color:rgb(54, 6, 248);"data-start="3800">{{airline_data["threestar_reviews"]}}</p>
                    <h3>4 star reviews</h3>
                    <p style="font-size: x-large; color:rgb(23, 166, 47);"data-start="6280">{{airline_data["fourstar_reviews"]}}</p>
                    <h3>5 star reviews</h3>
                    <p style="font-size: x-large; color:rgb(42, 174, 81);"data-start="9400">{{airline_data["fivestar_reviews"]}}</p>
                  </div>
                  <div class="col-sm-6">
                    One Star - Five Star Reviews in percentage
                    <canvas id="myChart1"></canvas>
                    <div style="margin-top: 90px;">
                    <a href="{{ url_for('airlinespage')}}">View Companies</a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          



          </div>
        </div>
      </div>
    </div>
  </body>
  

<div class="pagination">
  
  <a href="{{ url_for('index')}}">1</a>
  <a href="{{ url_for('secondpage')}}">2</a>
  <a href="{{ url_for('thirdpage')}}">3</a>
  <a href="{{ url_for('fourthpage')}}">4</a>
  <a href="{{ url_for('fifthpage')}}">5</a>

</div>
    
    
</div>

      </div>
          </div>
</div>

    <script>







var data1 = {
  labels: ["Airlines", "Energy", "Financials", "Materials", "Institutions", "Information Technology", "Industrials", "Consumer Discretionary", "Healthcare"],
  datasets: [
    {
      label: '1 star',
      data: [{{airline_data['one_star_reviews']}}, {{energy_data['one_star_reviews']}}, {{finance_data['one_star_reviews']}}, {{materials_data['one_star_reviews']}}, {{institution_data['one_star_reviews']}}, {{IT_data['one_star_reviews']}}, {{industrials_data['one_star_reviews']}}, {{consumerdiscretionary_data['one_star_reviews']}}, {{healthcare_data['one_star_reviews']}}],
      backgroundColor: 'rgba(255, 99, 132, 0.5)',
    },
    {
      label: "2 Star",
      data: [{{airline_data['two_star_reviews']}}, {{energy_data['two_star_reviews']}}, {{finance_data['two_star_reviews']}}, {{materials_data['two_star_reviews']}}, {{institution_data['two_star_reviews']}}, {{IT_data['two_star_reviews']}}, {{industrials_data['two_star_reviews']}}, {{consumerdiscretionary_data['two_star_reviews']}}, {{healthcare_data['two_star_reviews']}}],
      backgroundColor: "#46BFBD"
    },
    {
      label: "3 Star",
      data: [{{airline_data['three_star_reviews']}}, {{energy_data['three_star_reviews']}}, {{finance_data['three_star_reviews']}}, {{materials_data['three_star_reviews']}}, {{institution_data['three_star_reviews']}}, {{IT_data['three_star_reviews']}}, {{industrials_data['three_star_reviews']}}, {{consumerdiscretionary_data['three_star_reviews']}}, {{healthcare_data['three_star_reviews']}}],
      backgroundColor: "#FDB45C"
    },
    {
      label: "4 Star",
      data: [{{airline_data['four_star_reviews']}}, {{energy_data['four_star_reviews']}}, {{finance_data['four_star_reviews']}}, {{materials_data['four_star_reviews']}}, {{institution_data['four_star_reviews']}}, {{IT_data['four_star_reviews']}}, {{industrials_data['four_star_reviews']}}, {{consumerdiscretionary_data['four_star_reviews']}}, {{healthcare_data['four_star_reviews']}}],
      backgroundColor: "#949FB1"
    },
        {
          label: "5 Star",
data: [
  {{airline_data['five_star_reviews']}}, 
  {{energy_data['five_star_reviews']}}, 
  {{finance_data['five_star_reviews']}}, 
  {{materials_data['five_star_reviews']}}, 
  {{institution_data['five_star_reviews']}}, 
  {{IT_data['five_star_reviews']}}, 
  {{industrials_data['five_star_reviews']}}, 
  {{consumerdiscretionary_data['five_star_reviews']}}, 
  {{healthcare_data['five_star_reviews']}}
],
backgroundColor: "#4D5360"
        }
    ]
};

var ctx3 = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'bar',
    data: data1,
    options: {
        responsive: true,
        scales: {
            xAxes: [{
                stacked: true,
            }],
            yAxes: [{
                stacked: true,
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx1 = document.getElementById("myChart1").getContext('2d');
var myChart1 = new Chart(ctx1, {
  type: 'pie',
  data: {
    labels: ["1 Star reviews", "2 Star reviews", "3 Star reviews", "4 Star reviews","5 Star reviews "],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
      ],
         data: [
        ({{airline_data["one_star_reviews"]}}/{{airline_data["total_reviews"]}}*100).toFixed(2),
        ({{airline_data["two_star_reviews"]}}/{{airline_data["total_reviews"]}}*100).toFixed(2),
        ({{airline_data["three_star_reviews"]}}/{{airline_data["total_reviews"]}}*100).toFixed(2),
        ({{airline_data["four_star_reviews"]}}/{{airline_data["total_reviews"]}}*100).toFixed(2),
        ({{airline_data["five_star_reviews"]}}/{{airline_data["total_reviews"]}}*100).toFixed(2)
      ]
    }]
  }
});





var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["1 Star reviews", "2 Star reviews", "3 Star reviews", "4 Star reviews","5 Star reviews "],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
      ],
         data: [
        ({{energy_data["one_star_reviews"]}}/{{energy_data["total_reviews"] }}*100).toFixed(2),
        ({{energy_data["two_star_reviews"]}}/{{energy_data["total_reviews"] }}*100).toFixed(2),
        ({{energy_data["three_star_reviews"]}}/{{energy_data["total_reviews"] }}*100).toFixed(2),
        ({{energy_data["four_star_reviews"]}}/{{energy_data["total_reviews"] }}*100).toFixed(2),
        ({{energy_data["five_star_reviews"]}}/{{energy_data["total_reviews"] }}*100).toFixed(2)
      ]
    }]
  }
});



$(function() {
    function count($this){
        var current = parseInt($this.html());
        $this.html(++current);
        if(current !== $this.data('count')){
            setTimeout(function(){count($this)}, 1); // decrease timeout value to make it faster
        }
    }        
    $("p").each(function() {
        $(this).data('count', parseInt($(this).text(), 10));
        $(this).html($(this).data('start'));
        count($(this));
    });
});

$('.count').each(function () {
    var start = $(this).data('start');
    var end = $(this).text();
    var duration = 500; // decrease duration value to make it faster
    var range = end - start;
    var step = Math.ceil(range / (duration / 16)); // 16 is the interval in milliseconds between each step, you can adjust it if needed
    $(this).prop('Counter', start).animate({
        Counter: end
    }, {
        duration: duration,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});




</script>

    

 </body>
 </html>